.loginAlternativeText {
  display: flex;
  align-items: center;
  &::after,
  &::before {
    content: '';
    flex-grow: 1;
    height: 1px;
    border-bottom: 1px solid black;
  }
  & > span {
    padding: 0 1rem;
  }
}

.loginButton {
  width: 100%;
}
