.mainContainer {
  margin: 15px;
  padding: 15px;
  border: 1px solid #cfcfcf;
  border-radius: 10px;
  min-height: 90vh;
  position: relative;
}
.buttons a {
  color: black;
  text-decoration: none;
}
.buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 15px;
}
.buttons h3 {
  margin: 0;
  margin-left: 10px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c4c4c4;
  padding: 10px 15px;
  border-radius: 15px;
  margin-left: 15px;
}
.typeOfService {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description {
  color: rgba(0, 0, 0, 0.5);
}
.typeOfService div h2 {
  margin: 0;
}
.xmark {
  font-size: 24px;
}
.signs ul {
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
}
.sign {
}
